.adb-def {background: #0066CB; width: 100%; margin: 10px 0; padding: 10px; color: #fff;  font-family: "Open Sans",sans-serif,tahoma; font-size: 14px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.adb-def div:nth-child(1) {font-size: 18px; border-bottom: 2px solid #fff; display: inline-block; padding: 0 0 3px;}
.adb-def div:nth-child(2) {font-size: 24px; margin: 15px 0}
ins.adsbygoogle { text-decoration: none;}